<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bolla.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A03C97A22D6F33E3009F2EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A03C97B22D6F33E4009F2EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A03C97BC2D6F33E4009F2EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
